:root {
    --icon-color: #EA862E;
    --header-color: #333331;
    --header-text-color: #A1A1A1;
    --login-button-color: #E6AB4C;
    --filter-color: #E6AB4C;
    --new-pizza-color: #CB5B51;
    --popular-pizza-color: #72B763;
    --pizza-text-color: #DE722A;
    --background-color: #FFFFF5;
    --pizza-cart-color: #FFFFFF;
    --remove-button-color: #C45146;
    --add-button-color: #68AB5A;
    --footter-color: #FEFEFE;
    --shadow-color: #0505050C;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
}

.shop {
    flex: 3;
    position: absolute;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    box-sizing: border-box;
    overflow: visible;
    min-width: 400px;
    width: calc(100% - 350px);
}

.cart {
    display: block;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--pizza-cart-color);
    box-shadow: -10px 0 5px 0 var(--shadow-color);
    z-index: 3;
    width: 350px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    height: 100px;
    background-color: var(--header-color);
    color: var(--header-text-color);
    z-index: 11;
    min-width: 400px;
    width: calc(100% - 350px);
    transition: background-color 0.3s ease;
}


.icon {
    background-color: var(--icon-color);
    color: #FFFFFF;
    width: 100px;
    height: 120%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#icon-pizza {
    font-size: 16px;
}

#icon-kma {
    font-size: 25px;
}

.info{
    padding: 0 25px;
    flex-grow: 1
}

body > main > header > div.icon > img {
    transform: rotateX(180deg);
    position: relative;
    bottom: -40px;
}

.upper-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
    flex-grow: 1;
}

.upper-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 100%;
    border-bottom: 1.5px solid var(--header-text-color);
}

.info-text {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    width: 70%;
    align-items: center;
}

.phone{
    font-size: 17px;
}

.schedule{
    font-size: 15px;
}

.delivery{
    font-size: 17px;
}

.info button{
    background-color: var(--login-button-color);
    color: #FFFFFF;
    border: 0;
    padding: 5px 10px;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
}

main button:hover{
    text-decoration: underline;
}

.order button:hover{
    background-color: var(--header-color);
}

.make-order:hover{
    text-decoration: underline;
}

.lower-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    color: #FFFFFF;
}

.filters span{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-name{
    font-weight: bold;
    font-size: 22px;
}

main .pizza-amount{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    background-color: var(--filter-color);
    color: #FFFFFF;
    font-weight: bold;
}

.filters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


.filters-buttons{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-left: 10px;

}

.filters-buttons button{
    background-color: var(--background-color);
    border: 0;
    padding: 5px 10px;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
    color: var(--filter-color);
    font-weight: bold;
}

.filters-buttons button[chosen="chosen"]{
    background-color: var(--filter-color);
    color: #FFFFFF;
    border: 0;
    padding: 5px 10px;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
}

.filters-buttons button:hover{
    text-decoration: underline;
}

footer{ 
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    background-color: var(--footter-color);
    color: var(--header-text-color);
    min-width: 400px;
    width: 100%;
    box-shadow: 0 -2px 5px 0 var(--shadow-color);
    border-top: 1.5px solid var(--header-text-color);
    font-size: 14px;
}

.badge {
    margin-left: 25px;
    left: 0;
    height: 130px;
    bottom: 0;
    position: fixed;
    display: block;
    background-color: var(--icon-color);
    width: 100px;
}

.badge-text{
    color: #FFFFFF;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.badge-img{
    position: relative;
    bottom: 12px;
    width: 100%;
}

.discount{
    border-top: 1.5px dashed var(--header-text-color);
    margin: 5px 15px;
}

.cart-header{
    background-color: #FFFFFF;
    height: 13%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.cart-header span{
    font-size: 18px;
    font-weight: bold;
}

#amount-cart{
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: var(--filter-color);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    padding: 3px 7px;
}

.cart-header button{
    background-color: #FFFFFF;
    color: var(--header-text-color);
    border: 0;
    font-size: 12px;
}

.cart-header button:hover{
    text-decoration: underline;
}

.order {
    height: 75%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f5f5f5;
}

.order::-webkit-scrollbar {
    display: none;
}

.cart-footer{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 12%;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgray;
}

.sum-section{
    display: flex;
    justify-content: space-between;
    padding: 2px 15px;
    align-items: center;
    height: 40%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sum-section .sum{
    font-size: 20px;
}

.cart-footer button{
    background-color: var(--login-button-color);
    color: #FFFFFF;
    border: 0;
    padding: 0px 10px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px 15px;
}

@media (max-width: 1070px) {
    .info .upper-info .info-text .schedule {
        display: none;
    }
}

@media (max-width: 900px) {
    .info .upper-info .info-text .delivery {
        display: none;
    }
}

.pizza-card {
    background-color: var(--pizza-cart-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 300px;
    margin: 20px;
    border: 1px solid var(--pizza-cart-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pizza-card img {
    width: 100%;
    height: auto;
    border: 0;
}

.pizza-card .caption {
    text-align: left;
    padding-top: 15px;

}

.pizza-card h3 {
    color: var(--pizza-text-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.pizza-card .pizza-type {
    font-size: 14px;
    color: var(--header-text-color);
    margin-bottom: 10px;
}

.pizza-card p {
    font-size: 14px;
    color: black;
    margin-bottom: 0;
}

.order-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
}

.buy_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    border-radius: 5px;
}

.buy_button .svg-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.buy_button .svg-container img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.buy_button .price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin-top: 15px;
}

.buy_button .price {
    font-weight: bold;
    margin-right: 5px;
    font-size: 30px;
}

.buy_button .grn {
    font-size: 14px;
    color: #888;
}

.buy_button button {
    background-color: var(--login-button-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.pizza-badge {
    position: absolute; 
    top: 5px;
    left: 220px;
    background-color: #59B958;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
    width: 100px;
    text-align: center;
    z-index: 10;
    font-weight: bold;
}

.pizza-badge[badge="new"] {
    background-color: var(--new-pizza-color);
}

.pizza-badge[badge="popular"] {
    background-color: var(--popular-pizza-color);
}

.order-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.order-list-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ordered-pizza-name{
    font-size: 18px;
    font-weight: bold;
    color: var(--pizza-text-color);
}

.order-item-details {
    align-items: center;
}

.features {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.price-config {
    display: flex;
    gap: 20px;
    align-items: center;
}

.amount-config {
    display: flex;
    gap: 10px;
    align-items: center;
}

.order-list-price, .order-counter {
    font-size: 16px;
    font-weight: bold;
}

.order-list-price{
    width: 70px;
    justify-content: left;
}

.order-counter {
    width: 20px;
    text-align: center;
}

.amount-config button {
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

aside .delete{
    background-color: var(--remove-button-color);
    line-height: 28px;
}

aside .add{
    background-color: var(--add-button-color);
    line-height: 30px;
}

aside .remove{
    background-color: #f5f5f5;
    line-height: 0px;
    color: var(--pizza-text-color);
    box-shadow: 0px 0px 2px 0.5px var(--header-text-color);
    margin-left: 15px;
}

.ordered-pizza-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    position: relative;
    left: 35px;
}
